<h1>{{title}}</h1>
<form *ngIf="!loading"  (ngSubmit)="onSubmit()">
    
    <div class="row">
        <div class="mb-3 col-7">
            <label class="form-label">First Name</label>
            <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
        </div>
    </div>
    <div class="row">
        <div class="mb-3 col-7">
            <label class="form-label">Last Name</label>
            <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
        </div>
    </div>
    <div class="row">
        <div class="mb-3 col-7">
            <label class="form-label">Phone</label>
            <input type="number" formControlName="phone" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
        </div>
    </div>
    <div class="mb-3">
        <button [disabled]="submitting" class="btn btn-primary">
            <span *ngIf="submitting" class="spinner-border spinner-border-sm me-1"></span>
            Save
        </button>
        <a routerLink="/admin/users" class="btn btn-link">Cancel</a>
    </div>
</form>
<div *ngIf="loading" class="text-center m-5">
    <span class="spinner-border spinner-border-lg align-center"></span>
</div>