<h1>{{title}}</h1>
<form *ngIf="!loading"  (ngSubmit)="onSubmit()">
    <mat-form-field>
        <mat-label>Date</mat-label>
        <input matInput formControlName="date" type="date" placeholder="date">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Start Time</mat-label>
        <input matInput formControlName="start" type="time" placeholder="start time">
      </mat-form-field>
      <mat-form-field>
        <mat-label>End Time</mat-label>
        <input matInput formControlName="end" type="time" placeholder="end time">
      </mat-form-field>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">
            <span *ngIf="submitting" class="spinner-border spinner-border-sm me-1"></span>
            Save
        </button>
        <a routerLink="/admin/appointments" class="btn btn-link">Cancel</a>
    </div>
</form>
<div *ngIf="loading" class="text-center m-5">
    <span class="spinner-border spinner-border-lg align-center"></span>
</div>