<nav class="admin-nav navbar navbar-expand navbar-light px-3">
    <div class="navbar-nav">
        <a routerLink="accounts" routerLinkActive="active" class="nav-item nav-link">Accounts</a>
        <a routerLink="users" routerLinkActive="active" class="nav-item nav-link">Users</a>
        <a routerLink="services" routerLinkActive="active" class="nav-item nav-link">Services</a>
        <a routerLink="appointments" routerLinkActive="active" class="nav-item nav-link">Appointments</a>
    </div>
</nav>