<nav class="navbar navbar-expand navbar-dark bg-dark px-3 d-flex flex-row-reverse" >
  <div class="navbar-nav">
      <button routerLink="/account/login" routerLinkActive="active" class="btn btn-link nav-item nav-link">Login</button>
  </div>
</nav>
<h1 class="my-5 d-flex justify-content-center display-4">Welcome To Calendraft</h1>
<mat-stepper class ="mx-4" linear #stepper>
  <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Fill in your details</ng-template>

      <div style="display: flex; flex-direction: column;">
        <mat-form-field>
          <mat-label>First name</mat-label>
          <input matInput formControlName="name" placeholder="First name" required>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Last name</mat-label>
          <input matInput formControlName="surName" placeholder="Last name" required>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Phone</mat-label>
          <input type="tel" matInput formControlName="phone" placeholder="Phone" required>
        </mat-form-field>
      </div>

      <div>
        <button mat-button matStepperNext (click)="submitUser()">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="selectedService" [editable]="isEditable">

      <ng-template matStepLabel>Select service</ng-template>
      <h4>Select service:</h4>
      <mat-form-field>
        <mat-label>Select Service</mat-label>
        <mat-select [(ngModel)]="selectedService" required>
          <mat-option>--</mat-option>
          <mat-option *ngFor="let service of services" [value]="service.id">
            {{service.name}}
          </mat-option>
        </mat-select>
        
      </mat-form-field>
      <div>
        <button (click)="onSelectedService()" mat-button matStepperNext >Next</button>
      </div>
  </mat-step>
  <mat-step [stepControl]="secilenSaat" [editable]="isEditable">

    <div>
      <mat-form-field>
        <mat-label>Tarih Seçin:</mat-label>
        <input matInput [matDatepicker]="datepicker" (dateChange)="onDateSelected($event)" />
        <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
        <mat-datepicker #datepicker></mat-datepicker>
      </mat-form-field>
    
      <div *ngIf="randevuSaatleri.length > 0">
        <h3>Alınabilir Saatler:</h3>
        <mat-form-field>
          <mat-label>Seans Seçin:</mat-label>
          <mat-select [(value)]="secilenSaat" (selectionChange)="onSaatSelected()">
            <mat-option *ngFor="let saat of randevuSaatleri" [value]="saat.baslangic + '-' + saat.bitis" [disabled]="saat.isDisable">
              {{ saat.baslangic }} - {{ saat.bitis }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    
   
          <button mat-button matStepperNext (click)="submitAppointment()">Next</button>
      
    </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
  </mat-stepper>


